Source: xplugin
Section: x11
Priority: optional
Maintainer: Michal Maruska <mmaruska@gmail.com>
Build-Depends: debhelper (>= 9), libx11-dev (>= 2:1.6.6-1-maruska), pkg-config
Standards-Version: 3.7.2

Package: xplugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libx11-6 (>= 2:1.6.6-1-maruska)
Description: Command to load the input event processing plugin in Xorg server.
 
